<div style="max-width:800px">
<% if comment.computer == true %>

<div class="flex justify-end">
<div class="pl-2 mb-2 text-violet-200 bg-gray-900 rounded" style="width:90px">
  Computer:</div>
  <div class="pl-2 mb-2 bg-violet-200 text-gray-900 rounded" style="width:300px">
  <%= comment.description %>
  </div>
  </div>
  
<% else %>

<div class="flex justify-start">
<div class="pl-2 mb-2 text-lime-200 bg-gray-900 rounded" style="width:90px">
  You:</div>
  <div class="pl-2 mb-2 bg-lime-200 text-gray-900 rounded" style="width:300px">
  <%= comment.description %>
  </div>
  </div>
<% end %>
</div>