<nav>
<div class="pt-1 pb-1 bg-gray-900 text-white" style="text-align:center">
<%= link_to "Home", "/" %>
|
<%= link_to "About (Turbo link)", "about", data: { turbo_frame: 'turbo-updates' } %>
|
<%= link_to "About (regular link)", "about" %>
</div>
</nav>