<%= render "nav" %>
<h1 style="text-align:center;font-size:3em">Status updates</h1>

<turbo-frame id="turbo-updates">
<div class="ml-4 mt-4 mb-4">
<p>This is a very small rails app where you can add a status update and see what happens!<p>
<p>You can also delete everything and start over</p>
</div> 
</turbo-frame>

<%= render "footer" %>